n8n/workflow-generation.json
{
  "name": "Write a WordPress post with AI  - FORM",
  "nodes": [
    {
      "parameters": {
        "path": "d5d19ce7-22c8-4e93-b21b-c4bee84f0537",
        "formTitle": "Create a WordPress post with AI",
        "formDescription": "Fill this form with the required information to create a draft post on WordPress",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords (comma-separated)",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of chapters",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Max words count",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8c63176b-c4f5-455a-b8a4-0a4fce7f66c0",
      "name": "Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1248,
        16
      ],
      "webhookId": "d5d19ce7-22c8-4e93-b21b-c4bee84f0537",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wp-url-id-v2",
              "name": "wordpress_url",
              "type": "string",
              "value": "https://blog.emersonporfaaudio.com.br/"
            },
            {
              "id": "kw-id-v2",
              "name": "keywords",
              "type": "string",
              "value": "={{ $json['Keywords (comma-separated)'] }}"
            },
            {
              "id": "ch-id-v2",
              "name": "chapters",
              "type": "number",
              "value": "={{ $json['Number of chapters'] }}"
            },
            {
              "id": "wd-id-v2",
              "name": "words",
              "type": "number",
              "value": "={{ $json['Max words count'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7508a299-903b-470b-ab7e-e0709f17774c",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -1024,
        16
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=📝 NOVO POST PARA O BLOG\nAssunto: {{ $json.keywords }}\n\nPERSONA: Emerson Porfa, 35 anos de áudio.\n\nESTRUTURA JSON:\n{\n  \"title\": \"Título\",\n  \"slug\": \"url\",\n  \"chapters\": [ { \"title\": \"Cap\", \"prompt\": \"Dica\" } ]\n}\n\nIdioma: PT-BR."
            }
          ]
        },
        "options": {}
      },
      "id": "9fa896df-3380-451f-8975-f51b5380d373",
      "name": "Create post title and structure",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -800,
        16
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "XOqL0kyWGcEGHM2f",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet content = item.message.content;\nif (typeof content === 'string') {\n  content = content.replace(/```json/g, '').replace(/```/g, '').trim();\n  content = JSON.parse(content);\n}\nreturn [{ json: { ...item, message: { ...item.message, content: content } } }];"
      },
      "id": "parse-ai-json-form-v2",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        16
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($('Parse AI JSON').first().json.title) }},\n  \"content\": {{ JSON.stringify($json.article) }},\n  \"status\": \"draft\"\n}",
        "method": "POST",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://blog.emersonporfaaudio.com.br/wp-json/wp/v2/posts"
      },
      "id": "254cb842-67f8-41fd-8bde-21b904e829b4",
      "name": "Post on WordPress (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -96
      ],
      "credentials": {
        "wordpressApi": {
          "id": "a3b604f4-26f9-4160-a195-8f60edb5c0cd",
          "name": "WordpressBlog"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage?chat_id=-1002360830491&text={{ encodeURIComponent('Novo post criado: ' + $('Post on WordPress (HTTP)').first().json.title.rendered) }}"
      },
      "id": "8e6da25a-5499-433d-8879-8822682fe49b",
      "name": "Send Telegram Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3072,
        -96
      ]
    }
  ],
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Post on WordPress (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on WordPress (HTTP)": {
      "main": [
        [
          {
            "node": "Send Telegram Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}